
*{margin: 0;
    padding: 0;
}

/* Innehållet på hela startsidan 
.container {
  }
    
/* Innehållet på hela bisidan 
.bicontainer {
  margin
  }

/* Menyns fixerade position */
.meny {
    overflow: hidden;
    background-color: #333;
   /* position: fixed; /* Den fixerade, fasta, positionen */
   /* top: 0; /* Menyn ligger längst upp på sidan */
    width: 100%;
  }

  /* Styling av menyinnehållet, länkarna */
.meny a {
    float: right;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding-left: 10%; 
    padding-right: 10%;
    padding-top: 2%;
    padding-bottom: 2%;
    text-decoration: none;
}

/* Kategorimenyn styling */
.catmeny {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: none; 
    padding-top: 4%;
  }
  
  .catmeny a {
   /* padding: 8% 8% 8% 25%; */
    padding-top: 5%;
    padding-bottom: 5%;
    padding-left: 10%;
   /* padding-right: ; */
    text-decoration: none;
    font-size: 80%; 
    color: #818181;
    display: block;
  }
  
  .catmeny a:hover {
    color: #f1f1f1;
  }
  
  .catmeny .closebtn {
    position: absolute;
    top: 0;
    right: 10%;
    font-size: 150%;
  }
  
  .openbtn {
    font-size: 100%;
    cursor: pointer;
    background-color: #111;
    color: white;
    padding: 1% 2%;
    border: none;
    margin: 0;
  }
  
  .openbtn:hover {
    background-color: #444;
  }
  /* Slut med kategorimeny styling */

ul{
    list-style: none;
}

.intevisa{
  display: none;
}

/* Allt som ska ha en left margin får klassen lemar*/
.lemar{
  margin-left: 2%;
}

.move{
  margin-left: 2%;
}

/* Styling för Kurser */
.dag{
    font-size: large;
}

.tid{
    font-size: small;
}

.kurser, .veckanskock{
    border: 5px solid;
    padding: 5px;
}

.kurser{
    margin-right: 5px;    
}

.veckanskock{
    margin-left: 5px;  
}

#receptbild{
  width: 96%;
  border: 2px solid;
}

  /* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) 
  @media screen and (max-height: 450px) {
    .catmeny {padding-top: 15px;}
    .catmeny a {font-size: 18px;}
  }

/* Här nedan följer media query. Detta används för att förändra sidans utseende vid speciella förutsättningar. */
@media only screen and (max-width: 768px){
  .kurser{
    margin-right: 0;
    margin-bottom: 1%;
  }

  .veckanskock{
    margin-left: 0;
    margin-top: 1%;
}
 }


