
/* Följande visar att om inte annat anges, ska inget element ha en margin eller padding */
*{
  margin: 0;
  padding: 0;
}


/* Menyns fixerade position */
.meny {
    overflow: hidden;
    background-color: #333;
   /* position: fixed; /* Den fixerade, fasta, positionen */
   /* top: 0; /* Menyn ligger längst upp på sidan */
    width: 100%;
  }

  /* Styling av menyinnehållet, länkarna */
.meny a {
    float: right;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding-left: 10%; 
    padding-right: 10%;
    padding-top: 2%;
    padding-bottom: 2%;
    text-decoration: none;
}

/* Kategorimenyn styling */
.catmeny {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: none; 
    padding-top: 4%;
  }
  
  .catmeny a {
    padding-top: 5%;
    padding-bottom: 5%;
    padding-left: 10%;
    text-decoration: none;
    font-size: 80%; 
    color: #818181;
    display: block;
  }
  
  .catmeny a:hover {
    color: #f1f1f1;
  }
  
  .catmeny .closebtn {
    position: absolute;
    top: 0;
    right: 10%;
    font-size: 150%;
  }
  
  .openbtn {
    font-size: 100%;
    cursor: pointer;
    background-color: #111;
    color: white;
    padding: 1% 2%;
    border: none;
    margin: 0;
  }
  
  .openbtn:hover {
    background-color: #444;
  }
  /* Slut med kategorimeny styling */

/* Styling för alla listor */
ul{
    list-style: none;
}
/* HÄR FORTSÄTTER MITT FÖRSÖK I ATT TA BORT KATEGORIMENYN NÄR JAVASCRIPT INTE FUNGERAR 
.intevisa{
  display: none;
}
*/

/* Allt som ska ha en left margin får klassen lemar*/
.lemar{
  margin-left: 2%;
}

/* Allt som ska förslyttas när kategorimenyn ligger på vänsterkanten, märks med move */
.move{
  margin-left: 2%;
}

/* Styling för fältet för Kurser */
.dag{
    font-size: large;
}

.tid{
    font-size: small;
}

.kurser, .veckanskock{
    border: 5px solid;
    padding: 5px;
}

.kurser{
    margin-right: 5px;    
}

/* Styling för fältet för veckans kock */
.veckanskock{
    margin-left: 5px;  
}

/* Styling för bilden på bisidan, receptbilden */
#receptbild{
  width: 96%;
  border: 2px solid;
}

/* Här nedan följer media query. Detta används för att förändra sidans utseende vid speciella förutsättningar, i detta fall när skärmen är mindre än 769px */
@media only screen and (max-width: 768px){
  .kurser{
    margin-right: 0;
    margin-bottom: 1%;
  }

  .veckanskock{
    margin-left: 0;
    margin-top: 1%;
}
 }


